
<%- include('./../template/header', {titleWeb: 'Nosotros'}); %>

<%- include('./../template/footer'); %>

<body class="container-fluid p-0  background-default text-white ">
<%- include('./../template/navbar'); %>

<div class="d-flex justify-content-center  ">
    <h1><%= title %></h1>

</div>

</body>

<%- include('./../template/footer'); %>
